{% extends 'base.html.twig' %}
{% block body %}

<div>

<div class="row">
<h1> create class</h1>

</div>

{{form_start(form)}}

{{form_label(form.name)}}
{{form_widget(form.name)}}
<div class="form-group">

<button class="bn-btn-info mt-2 text-white">submit</button>

</div>
{{form_end(form)}}
</div>
<br>

{% endblock %}